<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
	var group = "<%=g%>";
    </script>
    <script type="text/javascript" src="/mgt_ads_detail.js"></script>
</head>
<body>
<h3>チケなうEDIT</h3>
<% console.log(ads); %>
<a href="/_mgt">TOP</a> ＞ <a href="/_mgt/ads">広告</a> ＞<%=ads[g]%><br/>
<TEXTAREA rows=30 cols=100 id="ads" name="ads"><%=text%></TEXTAREA>
<br/>
<button id="edit">ファイル更新</button>
</body>
</html>
