<html>
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/mgt_artist.js"></script>
</head>
<body>
<h3>チケなうEDIT</h3>
<a href="/_mgt">TOP</a> ＞ <a href="/_mgt/cate">カテゴリ</a> ＞アーティストリスト<br/>
<TEXTAREA rows=30 cols=100 id="artist" name="artist"><%=text%></TEXTAREA>
<br/>
<button id="edit">ファイル更新</button>
</body>
</html>
